/* Tailwind CSS setup */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
html,
body,
:root {
  height: 100%;
}

/* Define border-border class within @layer utilities */
@layer utilities {
  .border-border {
    /* Define your border styles here */
    /* For example: */
    border: 1px solid black;
  }

  /* Define bg-background and text-foreground classes */
  .bg-background {
    /* Define your background styles here */
    /* For example: */
    background-color: #fff; /* Replace with your background color */
  }
  
  .text-foreground {
    /* Define your text styles here */
    /* For example: */
    color: #000; /* Replace with your text color */
  }

  /* Typewriter effect styles */
  .Typewriter {
    display: inline-block;
  }

  .Typewriter__wrapper {
    overflow: hidden;
    border-right: 2px solid transparent;
    white-space: nowrap;
    animation: typing 3s steps(30, end);
    color: #C900FE; /* Set the text color */
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  /* Cursor animation */
  @keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: #C900FE; /* Change color of the cursor here */
    }
  }

  .Typewriter__cursor {
    display: inline-block;
    width: 0;
    animation: blink-caret 0.75s step-end infinite;
  }
}


.Typewriter__wrapper {
  overflow: hidden;
  border-right: 2px solid transparent;
  white-space: nowrap;
  animation: typing 3s steps(30, end);
  color: #C900FE; /* Set the text color */
}

/* Cursor element style */
.Typewriter__cursor {
  display: inline-block;
  color: #C900FE; /* Set the same color as text */
  animation: blink-caret 0.75s step-end infinite;
}

/* Typing animation keyframes */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Cursor animation keyframes */
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #C900FE; /* Change color of the cursor here */
  }
}


.contact-form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type='email'],
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type='email'].error,
textarea.error {
  border-color: #ff6347; /* Change to your preferred error color */
}

.error-message {
  color: #ff6347; /* Change to your preferred error color */
  font-size: 0.8em;
  margin-top: 5px;
}

.success-message {
  color: #28a745; /* Change to your preferred success color */
  text-align: center;
  margin-top: 20px;
}


